dot_config/fish/conf.d/key.fish

dot_config/nvim/spell/**

dot_config/niri/dms/**

dot_config/kitty/kitty-themes-master/**
dot_config/kitty/kitty_all.conf
dot_config/kitty/dank-tabs.conf
dot_config/kitty/private_dank-theme.conf

dot_config/vifm/vifminfo.json
dot_config/nvim/current_theme.vim
dot_config/rofi/current_theme.rasi
dot_config/kitty/current_theme.conf
dot_config/zathura/current_theme.conf

dot_config/rofi/rose-pine-rofi/dot_git/
dot_config/zathura/zathura-rose-pine/dot_git/
