// Change the backdrop Rosè Pine
layout {
  background-color "transparent"

  focus-ring {
    off
  }

  border {
    active-gradient from="#eb6f92" to="#c4a7e7" angle=-45
    inactive-color "#595959aa"
    urgent-color "#9b0000"
  }

  shadow {
    color "#00000070"
  }

  tab-indicator {
    active-color "#d7827eaa"
    inactive-color "#56949faa"
    urgent-color   "#b4637a"
  }

  insert-hint {
    color "#685d4780"
  }
}

overview {
  backdrop-color "#FAF4ED"
}
